  <% if now.favorited_by?(current_user) %>
    <td>
      <%= link_to now_favorites_path(now), method: :delete do %>
        <i class="fas fa-thumbs-up"></i>️<%= now.favorites.count %>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= link_to now_favorites_path(now), method: :post do %>
        <i class="far fa-thumbs-up"></i>️<%= now.favorites.count %>
      <% end %>
    </td>
  <% end %>