<%= link_to user_relationships_path(user), method: :delete, remote: true do %>
  <button type="button" class="btn btn-secondary rounded-pill">
    unfollow <i class="far fa-handshake"></i>
  </button>
<% end %>