<div class="container">
  <h2>followers</h2>
  <% if @users.exists? %>
    <% @users.each do |user| %>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <%= user.name %>
      <div>
      <%= user.introduction %>
      <%= render 'relationships/follow_btn', user: user %>
      </div>
    <% end %>
  <% else %>
    <p>ユーザーがいません</p>
  <% end %>
</div>