<div class="container">
<h2>Profile</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
<%= @user.name %><br>
<% if current_user == @user %>
<%= link_to "Edit", edit_user_path(@user) %>
<% end %>
<%= @user.introduction %>
</div>