<% if current_user == now.user %>
  <td>
    <%= link_to edit_now_path(now.id) do %>
      <i class="fas fa-wrench"></i>
    <% end %>
  </td>
  <td>
    <%= link_to now_path(now.id), method: :delete do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </td>
<% end %>